body
    // background-color: #F2F2F2
    background-color: white

// h1 doesn't get a margin-top, since there should only be one of the page
h1
    text-transform: lowercase

h2
    margin-top: 1em
    text-transform: lowercase

h3
    margin-top: 1em
    text-transform: lowercase

h4
    margin-top: 1em
    text-transform: lowercase

h5
    margin-top: 1em
    text-transform: lowercase

p
    margin-top: 1em
    margin-bottom: 0px

.container
    margin-top: 4em
    margin-bottom: 4em
    padding: 2em
    border-radius: 0px
    border-left: black solid 1px

#home
    color: gray
