<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Ceasar's Mind{% endblock %}</title>
        <link rel="stylesheet" href="lib/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/scaffolding.css" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="container">
            <div id="header">
                <span id="logo">
                    <a href="/">
                        <h1>CJB</h1>
                    </a>
                </span>
            </div>
            <div id="main">
                <div id="nav">
                    <ul class="hl">
                        {% for navitem in navitems %}
                        <li>
                            <a href="{{ navitem.href }}">{{ navitem.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="content">
                    {% block header %}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                    {% block footer %}
                    <div id="footer" class="row">
                        <div class="offset1 span5">
                            <p><a id="home" href="index.html">home</a></p>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
