{% extends "_base.html" %}
{% block content %}
%section
    .row
        .offset1.span5
            {% markdown %}
            # Hello
            {% endmarkdown %}
            %h1
                About Me
            %h3
                Goals
            %p
                Under construction. Will report back after a few more existential crises.
            %h3
                How I Started
            %p
                As a kid I spent nearly all my free time playing video games, so much so that it's quite possible my life at that time may have been more virtual than real.
            %p
                In high school, I got tired of just playing games and taught myself how to make them. The details are scattered, but I learned a lot about how it is to design games that are fun, and how hard it is to predict behavior from rules. (I now know that professional designers don't even try- game design is entirely about prototyping.)
            %p
                In college, I put aside my interest in games and traded it for an interest in software engineering and web development, and that brings us to today.
            %h3
                What's Next
            %p
                I've got another two year of college before I can unleash myself fully on the world. In the meantime, my plans are to continue honing my craft as an engineer.
{% endblock %}
