{% extends "_base.html" %}
{% block content %}
%section
    .row
        .offset1.span5
            %h1
                Ceasar Bautista
            %h2
                Thoughts on Complexity
            %h3
                ~
            %ul
                {% for post in posts %}
                %li
                    %a href={{ post.href }}
                        {{ post.name }}
                {% endfor %}
{% endblock %}
{% block footer %}
{% endblock %}
