{% extends "_base.html" %}
{% block content %}
%section
    .row
        .span12
            %h1
                Ceasar Bautista
            %h2
                Thoughts on Complexity
{% endblock %}
{% block footer %}
{% endblock %}
