{% extends "_base.html" %}
{% block content %}
%section
    .row
        .span12
            %h1 ceasar bautista
            %h2 thoughts on complexity
{% endblock %}
{% block footer %}
{% endblock %}
