<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />
    <link rel="stylesheet" type="text/css" href="/shared/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/shared/css/style.css">
  </head>
  <body>
    <div id="screen">
      <header>
      <h1 class="G1 G2">
        <a class="G1 GS" href="#">
        </a>
      </h1>
      <nav>
      <ul class="G3" id="headerOne">
        <li class="G1 GS">
        <h2 class="HSC">About</h2>
        <ul>
          <li>Profile</li>
          <li>Projects</li>
          <li>Contact</li>
        </ul>
        </li>
      </ul>
      </nav>
      </header>
      {{ content }}
    </div>
  </body>
</html>
